@import url("https://fonts.googleapis.com/css2?family=Nerko+One&display=swap");
section div.tile article a {
  font-family: "Nerko One", cursive;
  color: #fff;
  text-decoration: none;
  text-align: center;
  display: block;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #000;
  transition: all 0.3s ease-in-out;
}
